body {
    background-color: #FFFFFF;
}
.height_wrap {
    height: 100%;
    background: inherit;
}

.eq_col, .eq_col:before {
    width:50%;
}
.eq_col {
    float:left;
}
.eq_col:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 50%;
    background-color: #5f6673;
}

.eq_col.anchor:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background: #fff;
}

/* Materialize Overrides */
.collection {
    margin-top: 0px;
}

.mobile_separator {
    display: none;
}

/* Mobile width screens */
@media (max-width: 600px) {
    nav {
        display: none;
    }
    .eq_col, .eq_col:before {
        width: 100%;
    }
    .eq_col:before {
        left: 0%;
    }
}

