/*
  Docs at http://http://simpleweatherjs.com

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #fff;
  color: #555555;
}

.loading {
  margin: 65px 0 0;
}

#weather {
  margin: 0px auto;
  text-align: center;
}

#weather h1 {
  margin-bottom: -25;
  margin-top: 0;
  color: #fff;
  font-family: weather;
  font-size: 250px;
  font-weight: normal;
  line-height: 1.0;
}

#weather h1.icon-0:before { content: ":"; }
#weather h1.icon-1:before { content: "p"; }
#weather h1.icon-2:before { content: "S"; }
#weather h1.icon-3:before { content: "Q"; }
#weather h1.icon-4:before { content: "S"; }
#weather h1.icon-5:before { content: "W"; }
#weather h1.icon-6:before { content: "W"; }
#weather h1.icon-7:before { content: "W"; }
#weather h1.icon-8:before { content: "W"; }
#weather h1.icon-9:before { content: "I"; }
#weather h1.icon-10:before { content: "W"; }
#weather h1.icon-11:before { content: "I"; }
#weather h1.icon-12:before { content: "I"; }
#weather h1.icon-13:before { content: "I"; }
#weather h1.icon-14:before { content: "I"; }
#weather h1.icon-15:before { content: "W"; }
#weather h1.icon-16:before { content: "I"; }
#weather h1.icon-17:before { content: "W"; }
#weather h1.icon-18:before { content: "U"; }
#weather h1.icon-19:before { content: "Z"; }
#weather h1.icon-20:before { content: "Z"; }
#weather h1.icon-21:before { content: "Z"; }
#weather h1.icon-22:before { content: "Z"; }
#weather h1.icon-23:before { content: "Z"; }
#weather h1.icon-24:before { content: "E"; }
#weather h1.icon-25:before { content: "E"; }
#weather h1.icon-26:before { content: "3"; }
#weather h1.icon-27:before { content: "a"; }
#weather h1.icon-28:before { content: "A"; }
#weather h1.icon-29:before { content: "a"; }
#weather h1.icon-30:before { content: "A"; }
#weather h1.icon-31:before { content: "6"; }
#weather h1.icon-32:before { content: "1"; }
#weather h1.icon-33:before { content: "6"; }
#weather h1.icon-34:before { content: "1"; }
#weather h1.icon-35:before { content: "W"; }
#weather h1.icon-36:before { content: "1"; }
#weather h1.icon-37:before { content: "S"; }
#weather h1.icon-38:before { content: "S"; }
#weather h1.icon-39:before { content: "S"; }
#weather h1.icon-40:before { content: "M"; }
#weather h1.icon-41:before { content: "W"; }
#weather h1.icon-42:before { content: "I"; }
#weather h1.icon-43:before { content: "W"; }
#weather h1.icon-44:before { content: "a"; }
#weather h1.icon-45:before { content: "S"; }
#weather h1.icon-46:before { content: "U"; }
#weather h1.icon-47:before { content: "S"; }

#weather h2 {
  color: #fff;
  font-size: 140px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  padding-left: 35px; /* Offsets for degree symbol */
}

#weather h3, #weather h4, #weather h5, #weather h6 {
    margin: auto;
}

#weather .updated {
  opacity: 0.45;
}

.weather_color {
	color: #FFFFFF;
}

@media (min-width: 600px) {
    #weather_background {
        height: 100%;
    }
}

@media (max-width: 600px) {
    #weather h1 {
        font-size: 150px;
        width: 40%;
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5%;
        margin-right: 5%;
    } 

    #weather h2 {
        font-size: 75px;
        font-weight: 400; /* thicker to match icon */
        display: inline;
        width: 40%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5%;
        margin-right: 5%;
    }

    #weather .updated {
        display: none;
    }
}

